@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Quicksand', sans-serif;
}

@media print {
  @page {
    margin: 0;
  }
  body {
    -webkit-print-color-adjust: exact;
  }
}
